@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Hide scrollbar but keep scrolling */
main {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE/Edge */
}

main::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}